@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

.login-title {
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(214, 221, 221);
    padding-top: 30px;
}

.login-input {
    margin: 3px;
    background-color: rgb(43, 43, 43);
    color: rgb(214, 221, 221);
}

.login-container {
    display: grid;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(rgba(9, 11, 20, 0.7), rgba(142, 9, 120, 0.7), url(/images/login-image.png));
    background-size: contain;
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.login-btn {
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    display: inline;
    background-color: rgb(60, 60, 60);
    color: rgb(214, 221, 221);
    border: none;
}

.login-btn span {
    cursor: pointer;
    transition: 0.5s;
}

.login-btn span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
    position: absolute;
}

.login-btn:hover span {
    padding-right: 10px;
}

.login-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.click-text {
    font-size: 8px;
    color: rgb(9, 115, 201);
    text-decoration: underline;
    cursor: pointer;
}

.validation-user-exists {
    border-color: red;
}
